<launch>

  <include file="$(find wheeled_robin_bringup)/launch/minimal_fake.launch" />

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="publish_tf"  value="true"/>
    <arg name="rgb_processing" value="true"/> <!-- only required if we use android client -->
    <arg name="depth_processing" value="true"/>
    <arg name="depth_registered_processing" value="false"/>
    <arg name="depth_registration" value="false"/>
    <arg name="disparity_processing" value="false"/>
    <arg name="disparity_registered_processing" value="false"/>
    <arg name="scan_processing" value="false"/>
  </include>

  <node name="openni_tracker" pkg="openni_tracker" type="openni_tracker" args="-d $(find openni_tracker)/openni_tracker.xml" output="screen" >
	<param name = "camera_frame_id" value = "/camera_link" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find people_detection)/launch/kinect.rviz" />
  
  <node pkg="robin_people_detection" type="robin_people_detection" name="robin_people_detection" output="screen" >
	<param name = "base_name" type = "string" value = "/base_footprint" />
  </node>
  
</launch>
